*{
	margin:0;
	padding:0;
}

.header{
	width:100%;
	height:150px;
	margin-bottom: 10px;
}

@media screen and (max-device-width:600px){
    .header{
    	width:1200px;
		height:150px;
		margin-bottom: 10px;
    }
}

.header .background{
	position: absolute;
	top:0px;
	width: 100%;
	height:35px;
	background-color: #dedede;
}
.header .area{
	position: relative;
	width:980px;
	height:100px;
	margin:0px auto;
	margin-bottom: 10px;
}
.header .area .area_in{
	width:100%;
	height:35px;
	margin-bottom: 10px;
}
.area_in span{
	width:130px;
	float: right;
	display: inline-block;
	line-height: 35px;
}

.area_in span a{
	text-decoration:none;
	display: inline-block;
	color:black;
	margin-right:5px;
	margin-left:5px;
}
.area .area_logo{
	position: relative;
	margin-top:20px;
	margin-bottom:15px;
	width:100%;
	height:45px;
	background:url("https://img.alicdn.com/imgextra/i1/62192401/TB2QaXrqFXXXXbnXpXXXXXXXXXX_!!62192401.png") no-repeat left;
}
.area_logo span{
	height:40px;
	display: inline-block;
	line-height: 40px;
	margin-top: 10px;
	z-index: 100;
}
.area_logo .area_flag1{
	position: absolute;
	padding-left:20px;
	width:70px;
	background:url("../images/asp/sx.png") no-repeat left;
	left:250px;
}
.area_logo .area_flag2{
	position: absolute;
	padding-left:20px;
	width:70px;
	background:url("../images/asp/jy.png") no-repeat left;
	left:360px;
}
.area_logo .area_dote{
	position:absolute;
	width:1px;
	height:25px;
	background:url("../images/asp/dotted_line.png") repeat-y;
	top:10px;
	left:340px;
}
.area_logo #sub{
	position: absolute;
	left:800px;
	top:3px;
	border:0px;
	width:37px;
	height:35px;
	cursor: pointer;
	background:url("../images/asp/fdj.png") no-repeat left;
}
.area_logo #keyword{
	display: inline-block;
	position: absolute;
	left:601px;
	top:3px;
	width:196px;
	height:31px;
}
.header .mainnav{
	width:100%;
	height:40px;
	background:#f85246;
}
.mainnav .main_menu{
	width:980px;
	height:40px;
	margin:0 auto;
}
.main_menu li{
	display: inline-block;
	line-height: 40px;
	width:80px;
	list-style: none;
	float:left;
	margin-left:10px;
}
.main_menu li a{
	color:white;
	display: inline-block;
	line-height: 40px;
	width:80px;
	text-align: center;
	text-decoration: none;
}
.main_menu li a:hover{
	background-color: red;
}
.top_bar{
	background-color: #f7f7f7;
	width:1200px;
	height:300px;
	overflow: hidden;
	margin:3px auto;
	position: relative;
}
.top_bar .banner_list a{
	display: block;
	width: 100%;
	height:100%;
}
.top_bar .banner_l{
	position: absolute;
	top:0px;
	left:0px;
	width:210px;
}
.top_bar .banner_l dl{
	width:190px;
	height:300px;
	overflow: hidden;
	padding:2px 10px 1px;
	list-style: none;
}
.top_bar .banner_l dl dd{
	float:left;
	width:50%;
	height:42px;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	background:url("../images/asp/dotted_line.png") repeat-x bottom;
}
.banner_l dl dd a{
	text-decoration: none;
}

.top_bar .banner_r{
	position: absolute;
	top:0px;
	right:0px;
	width:250px;
	height:300px;
	box-shadow:none;
}

.banner_r dl {
width: 251px;
height: 300px;
overflow: hidden;
background-color: #e2e2e2;
}
.banner_r dl dd {
float: left;
display: inline;
width: 250px;
height: 150px;
overflow: hidden;
text-align: center;
background-color: #fff;
margin: 0 1px 1px 0;
}
.banner_r dl dd img {
width: 250px;
max-height: 150px;
}
.banner_r dl dd.last {
width: 250px;
height: 120px;
}
.banner_r dl dd.last img {
width: 250px;
max-height: 120px;
}
.banner_r dl dd a:hover{opacity:.8;filter:alpha(opacity=80);}
.banner_list{
	margin-left:220px;
	position: relative;
	height: 300px;
	width: 720px;
	z-index: 0;
	overflow: hidden;
	margin: 3px auto;
	list-style: none;
}
.banner_list li{
	display: block;
	width:100%;
	height:300px;
	position: absolute;
	transition:opacity 1s;
	-webkit-transition:opacity 1s;
	-moz-transition:opacity 1s;
	-o-transition:opacity 1s;
	top:0;
}
.top_bar .round{
	position: absolute;
	width: 200px;
	height:11px;
	margin-right:-100px;
	bottom:10px;
	right:50%;
	z-index: 100;
	text-align: center;
}
.top_bar .round a{
	background-color:#e2e2e2;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin-right:7px;
    width: 11px;
	overflow:hidden;
	text-decoration: none;
}
.content{
	width:1200px;
	margin:0 auto;
	margin-top:5px;
	position: relative;
}
.content .newusers{
	width:1200px;
	height:50px;
	margin: 0 auto;
	text-align: left;
	vertical-align: middle;

}
.content .newusers .today{
	display: inline-block;
	line-height: 30px;
	height:30px;
	font-size:15px;
	padding:0 3px;
	border:1px dashed red;
}
.content .newusers .today span{
	font-size: 10px;
	margin-left:4px;
	color:#ababab;
}
.footer{
	width:980px;
	margin:0 auto;
	padding-top:35px;
	clear:both;
}
.footer_intro{
	width:380px;
	height:26px;
	margin:0 auto;
	color:#ababab;
}
.footer_intro span{
	float:left;
	display:inline-block;
	margin-left:20px;
}
.footer_intro span a{
	text-decoration: none;
	color:#ababab;
	margin-right:20px;
}
.footer_link{
	margin-top:20px;
	width:950px;
	height:40px;
	margin:0 auto;
}
.footer_link span{
	display: inline-block;
	font-size: 10px;
	color:#ababab;
	float:left;
}
@media screen and (max-device-width:600px){
	body{
		width:1200px;
	}
	.header .area{
		position: relative;
		width:1200px;
		height:100px;
		margin:0px auto;
		margin-bottom: 10px;
	}
    .header .area .area_in{
		width:1200px;
		height:35px;
		margin-bottom: 10px;
	}
	.header .background{
		position: absolute;
		top:0px;
		width: 1200px;
		height:35px;
		background-color: #dedede;
	}
	.footer{
		width:1200px;
		margin:0 auto;
		padding-top:35px;
		clear:both;
	}
	.footer_link{
		margin-top:20px;
		width:950px;
		height:40px;
		margin:0 auto;
	}
}

.footer_link a{
	float: left;
	display: inline-block;
	height:18px;
	line-height: 18px;
	margin-left:5px;
	text-decoration: none;
	font-size: 10px;
	color:#ababab;
}
.footer .f_miibeian{
	margin-top:10px;
	display: inline-block;
	height:23px;
	width:600px;
	color:#ababab;
}
.footer .f_miibeian a{
	color:#ababab;
	font-size: 10px;
	text-decoration: none;
}
.ct-icon{
	display: inline-block;
	width:24px;
	height:24px;
	vertical-align: middle;
	position: relative;
	top:-2px;
	margin-right:5px;
	background:url("../images/asp/ct_icons.png") no-repeat 0 0;
}
.ct-icon-nvzhuang{background-position: 0 0;}
.ct-icon-nanzhuang{background-position: -24px 0;}
.ct-icon-xiezi{background-position: -48px 0;}
.ct-icon-xiangbao{background-position: -72px 0;}
.ct-icon-muying{background-position: -96px 0;}
.ct-icon-meizhuang{background-position: -120px 0;}
.ct-icon-jujia{background-position: -144px 0;}
.ct-icon-jiafang{background-position: -168px 0;}
.ct-icon-wenti{background-position: -192px 0;}
.ct-icon-meishi{background-position: -216px 0;}
.ct-icon-shuma{background-position: -240px 0;}
.ct-icon-dianqi{background-position: -264px 0;}
.ct-icon-neiyi{background-position: -288px 0;}
.ct-icon-peishi{background-position: -312px 0;}


.banner_arrow .arrow_prev,.banner_arrow .arrow_next {
background-color:#FB4472;
color: #fff;
display: block;
height: 45px;
width: 29px;
line-height: 45px;
overflow: hidden;
position: absolute;
z-index: 12;
}
.banner_arrow .arrow_prev{
	left:240px;
	top:130px;
}
.banner_arrow .arrow_next{
	right:240px;
	top:130px;
}
.banner_arrow .arrow_prev:hover,.banner_arrow .arrow_next:hover {
    background-color: #3F3E3E;
}
.banner_arrow .arrow_prev i,.banner_arrow .arrow_next i {
    background:url(../images/asp/arrow.png) no-repeat;
    cursor: pointer;
    display: block;
    height: 21px;
    margin: 12px 0 0 9px;
    overflow: hidden;
    width: 13px;
}
.banner_arrow .arrow_prev i{background-position:top left;}
.banner_arrow .arrow_next i{background-position:top right;}

.today-items{
	width:1200px;
	overflow: hidden;
}

.today-items .item-row{
    float:left;
    margin:5px;
    margin-bottom:25px;
    width:275px;
    padding:0 5px;
    border:2px solid white;
}
.today-items .item-row:hover{
	border:2px solid #fb4472;
}
.today-items .item-row .items-flag{
    position: absolute;
    width:37px;
    height:37px;
    z-index: 999;
    left:5px;
    top:0;
    background:url("../images/asp/item_new.png")no-repeat left;
}
.today-items .item-row-pic{
    text-align: center;
}
.today-items .item-row-pic img{
    width:275px;
    height:269px;
}
.today-items .item-row-desc{
    width:220px;
    overflow:hidden;
    height:20px;

}
.today-items .item-row-price{
	float:left;
	width:150px;
    height:30px;
    text-align: left;
    background:url("../images/asp/money.png") no-repeat left 70%;
}
.today-items .item-row-flag{
	display: inline-block;
	line-height: 30px;
	width:60px;
	height:30px;
	background:url("../images/asp/tao.png") no-repeat left;
	float:right;
}
.today-items .item-row-flag span{
	display: inline-block;
	width:60px;
	height:30px;
	color:#ff5400;
	padding-left:4px;
	font-size:15px;
}

.today-items .item-row-price span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
    color:red;
    margin-left:15px;
    font-size:28px;
}
.page-items{
	width:1200px;
	height:80px;
	margin:0 auto;
	margin-top:10px;
}
.tcdPageCode{
	margin:0 auto;
	padding: 15px 20px;
	text-align: left;
	color: #ccc;
	display: table;
}
.tcdPageCode a{
	display: table-cell;
	color: black;
	height: 45px;	
	line-height: 45px;	
	border: 1px solid #ddd;	
	margin: 0 2px;
	border-radius: 4px;
	vertical-align: middle;
	text-align: center;
	width:40px;
}
.tcdPageCode a:hover{
	text-decoration: none;
	border: 1px solid #fb4472;
	background-color: #fb4472;
}
.tcdPageCode span.current{
	display: table-cell;
	height: 45px;
	line-height: 45px;
	margin: 0 2px;
	color: white;
	background-color: #fb4472;
	border: 1px solid #fb4472;
	border-radius: 4px;
	vertical-align: middle;
	text-align: center;
	width:40px;
}
.tcdPageCode span.disabled{
	display: table-cell;
	height: 45px;
	line-height: 45px;
	width:50px;
	text-align: center;
	margin: 0 2px;
	color: #bfbfbf;
	background: #f2f2f2;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	vertical-align: middle;
}
.tcdPageCode .nextPage,.tcdPageCode .prevPage{
	width:50px;
	display: table-cell;
}
