body,h1,h2,h3,h4,h5,h6,hr,a,b,blockquote,dl,dt,dd,em,form,fieldset,legend,i,img,input,textarea,label,ul,ol,li,p,pre,strong,table,thead,tbody,tfoot,tr,th,td {
    margin: 0;
    padding: 0;
}
body,button,input,select,textarea {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53;
}
body {
    background-color: #FFFFFF;
}
fieldset {
    border: none;
}
input,select,textarea {
    font-size: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}
em,var,address,cite,dfn {
    font-style: normal;
}
small {
    font-size:12px;
}
ul {
    zoom: 1;
}
ul,ol {
    list-style: none;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
s {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #3E3E3E;
}
a:hover {
    text-decoration: underline;
    color: #FF6600;
}
img {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#page, #header, #content, #footer, #container {
    margin-left: auto;
    margin-right: auto;
}

#content {
    clear: both;
}
#page {
    width: 950px;
}
.cl, .clear {
    clear: both;
}
.more {
    color: #3E3E3E;
    line-height: 1.2;
}
.more-border {
    padding: 2px 5px;
    border: 1px solid #D8D8D8;
    background-color: #FAFAFA;
}
.more-border:hover {
    text-decoration: none;
}
.col-r, .col-red {
    color: #EE3300;
}
.m20 {
    margin-bottom: 20px;
}
.t20 {
    margin-top: 20px;
}

/* 妯″潡 Begin */
.module {
    margin-top: 15px;
    clear: both;
}
.module-nav {
    border-bottom: 2px solid #D5D5D5;
    margin-bottom: 15px;
    padding: 14px 10px 5px;
    font-size: 0;
    height: 21px;
}
.module-nav h3, module-nav a {
    font-size: 14px;
}
.module-nav h3 {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.module-nav .more {
    margin-right: 10px;
/*    padding: 2px 15px 2px 5px;*/
    font-size: 12px;
    float: right;
}
/* 妯″潡 End */

/* 鍟嗗搧鍒楄〃 begin */
.module-main .item-list {
    *padding-bottom: 20px;
}
.item-list:after, .shop-list:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.item-list li, .shop-list li {
    float: left;
    margin: 0 0 20px 6px;
    width: 175px;
    line-height: normal;
}
.shop-list .item, .item-list .item {
    margin: auto;
    text-align: center;
    width: 168px;
}
.item .pic {
    border: 0 none;
    padding: 4px;

    height: 160px;
    overflow: hidden;
    text-align: center;
    width: 160px;
}
.item .pic a {
    display: table-cell;
    height: 160px;
    vertical-align: middle;
    width: 160px;
    border: 1px solid #CCCCCC;
    
    *display:block;
    *font-family:arial;
    *font-size:140px;
    *line-height:1;
}
.item .pic a img {
    max-height: 160px;
    max-width: 160px;
    vertical-align: middle;
}
.item .pic a:hover {
    border: 1px solid #000000;
}
.item .desc {
    height: 42px;
    line-height: 1.2;
    overflow: hidden;
    padding-top: 5px;
    text-align: center;
}
.desc a {
    color: #666666;
    text-decoration: none;
}
.desc a:hover {
    color: #000000;
}
.desc em {
    color: #EE3300;
}
.item .operation{
    overflow: hidden;
    padding-top: 5px;
}
.item .sales {
    color: #666666;
    height: 18px;
    padding-top: 5px;
}
.sales em {
    color: #EE5987;
    font-weight: bold;
    padding: 0 0.5em;
}
.item .price {
    color: #979FAC;
    font: 12px/1.5 arial,verdana;
    margin-top: 5px;
}
.item .price strong {
    color: #FF6600;
    font: bold 12px/1.5 verdana,arial;
}
/* 鍟嗗搧鍒楄〃 end */
/* 鍒嗛〉 begin */
.pagination {
    float: right;
    padding-right: 20px;
}
.list-operate:after {
    clear: both;
    content: "\20";
    display: block;
}
.list-operate {
    clear: both;
}
.list-operate .pagination {
    clear: none;
}
.pagination .entity {
/*    overflow:visible;*/
}
ul.yiiPager {
    line-height: normal!important;
}
.page-style {
    float: right;
    margin-right: 20px;
    margin-top: -1px;
    _margin-top: 0;
    _margin-bottom: -2px;
}
.ui-dialog-titlebar {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
/* 鍒嗛〉 end */
.module-left {
    width: 190px;
    border: 1px solid #CCCCCC;
    float: left;
    margin-left: -100%;
    overflow: hidden;
    margin-left: -950px;
}
.module-left h3 {
    line-height: 35px;
    height: 35px;
    padding-left: 20px;
}
.module-left li {
/*    line-height: 28px;*/
}
.module-main {
    min-height: 1px;
    width: 100%;
    float: left;
    _height: 1px;
}
.module-main .module-main-entity {
    margin-left: 200px;
    width: 750px;
}
.module-left:after, .module:after, .shop-search-hd:after, .search-form ul, .search-form li:after, module-left:after, .module-nav:after {
    clear: both;
    content: "\20";
    display: block;
}
.keyword input {
    width: 120px;
}
.price input {
    width: 60px;
}
.button {
    width: 60px;
    height: 21px;
    font-weight: bold;
    
    border: 1px solid #CCCCCC;
    
    background-color: #FFFFFF;
    color: #666666;
    background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 transparent;
    border-radius: 2px 2px 2px 2px;
    overflow: hidden;
    padding: 0 3px;
    cursor: pointer;
}

.header {
    width:100%;
    height:35px;
    z-index:9999;
}
@media screen and (max-device-width:600px){
    .header{
        width:1200px;
        height:150px;
        margin-bottom: 10px;
    }
}
.logo {
    width: 320px;
    height: 50px;
    float: left;
    padding-top: 20px;
	color:#FFF;
}
.shop-box {
    clear: both;
    text-align: center;
}
.shop-box .shop-box-hd {
    background: url( "../images/bg.png" ) no-repeat scroll 0 0 transparent;
    height: 80px;
}
.shop-box-hd a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 36px;
    line-height: 80px;
}
.shop-box-hd a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
#footer {
    width:100%;
    height:20px;
    z-index:9999;
}
.search-form {
    float: left;
    width: 630px;
    height: 5px;
    margin-top: 20px;
}
.search-form .input-fields {
    float: left;
    width: 460px;
    margin-right: -3px;
}
.search-form .input-fields input {
    padding: 5px;
    width: 448px;
    font-size: 14px;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #EB780C;
    height: 17px;
}
.search-form .sub-search {
    width: 120px;
    height: 31px;
    border: none;
    background-color: #EB780C;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 31px;
    padding-top: 3px;
    padding-bottom: 8px;
    font-weight: bold;
    +padding-top: 4px;
    *margin-bottom: -15px;
    _margin-bottom: -16px;
    line-height: 24px;
    letter-spacing: 6px;
    padding-left: 7px;
}
.search-form .sub-search:hover {
    background-color: #F27B04;
}


/**************** 展示页 ***************/
.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.container{
    width:960px;
    margin:0 auto;
    background-color:#DFDFDF;
    padding:10px;
    box-shadow:0 1px 3px #D7D7D7;
    border-radius:4px;
    text-align: left;
}
#show-item{
    display: none;
}

.item-detail{
    margin-left:20px;
    margin-top:10px;
    width:85%;
    height:250px;
}
.item-detail h3{
    text-align: left;
    padding: 5px 10px;
}
.item-detail h3 a{
    color: #000;
    font-size: 20px;
    font-family: "微软雅黑","宋体";
    font-weight: normal;
    text-decoration: none;
}
.item-pic{
    float:left;
    width:180px;
    height:180px;
    display:block;
}
.item-pic img{
    width:180px;
    height:180px;
}
.item-info{
    float:left;
    margin-left:30px;
}
.item-buy{
   /* background:url('http://img04.taobaocdn.com/imgextra/i4/62192401/T2yEeGXolXXXXXXXXX_!!62192401.png') no-repeat;*/
    width:270px;
    height:48px;
    padding-top:5px;
}
.item-buy i{
    float:left;
    margin-left:13px;
    color:#FFF;
    font-size: 24px;
    font-style: normal;
    font-family: "微软雅黑","arial";
    margin-right: 5px;
}
.item-info h3{
    margin-left:13px;
    color:black;
    padding-left:0px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-family: "微软雅黑","arial";
    margin-right: 5px;
}
.item-info a:hover{
    text-decoration: underline;
    color:#ff6600;
}
.item-buy .item-price{
    float:left;
    color:#ff6600;
    font-size: 28px;
    line-height: 28px;
}
.item-buy .pte_buy{
    float:right;
    background:url('http://img03.taobaocdn.com/imgextra/i3/62192401/T2enKGXkRaXXXXXXXX_!!62192401.png');
    width:79px;
    height:38px;
    display:inline-table;
    margin-right:5px;
}

#item-goshop{
    display: inline-block;
    background-color:#ff6600;
    height:35px;
    line-height: 35px;
    width: 140px;
    font-size: 20px;
    text-align: center;
    margin-left:15px;
}

/* 左子菜单*/
#item-navs{
    padding: 0;
    margin: 10px auto;
    width:980px;
    height:auto;
    display: none;
}

#item-description{
    float: right;
    width:750px;
    max-height:1600px;
    overflow: hidden;
    border:1px solid #ababab;
}

#item-menu{
    float:left;
    width:220px;
    height:auto;
    background:#dcdcdc;
}
#item-menu span{
    display: inline-block;
    margin-top:5px;
    width:100%;
    height:20px;
    line-height: 20px;
    font-size:20px;
    text-align: center;
}
#item-menu #item-cate li{
    display: block;
    height:35px;
    width:100%;
    line-height: 35px;
    text-align: center;
    font-size:20px;
    overflow: hidden;
    margin-top:5px;
    border-bottom:1px solid #d5d5d5;
}
#item-menu #item-cate li:hover,li.optgroup span{
    cursor: pointer;
}
#item-menu #item-cate li.optgroup span{
    display: inline-block;
    height:35px;
    width:100%;
    line-height: 35px;
    background-color: #ababab;
}
.item-down{
    float:right;
    margin-top:15px;
    margin-right:5px;
    display: inline-block;
    width:11px;
    height:12px;
    background: url("../images/asp/btn-arrow.png") no-repeat 0 -6px;
}
.item-up{
    display: inline-block;
    float:right;
    margin-top:15px;
    margin-right:5px;
    width:11px;
    height:6px;
    background: url("../images/asp/btn-arrow.png") no-repeat;
}
#item-menu #item-cate li.optgroup{
    height:auto;
    
}
#item-menu #item-cate li.optgroup ul{
    display: none;
    height:auto;
}


/*******店铺展示*******/
#show-shop{
    display: none;
}

#show-shop h3{
    text-align: center;
    padding: 5px 10px;
}
#show-shop h3 a{
    color: #000;
    font-size: 20px;
    font-family: "微软雅黑","宋体";
    font-weight: normal;
    text-decoration: none;
}

.shop-detail{
    margin-left:20px;
    width:400px;
    float:left;
}
.shop-pic{
    float:left;
    width:100px;
    height:100px;
    display:block;
}
.shop-pic img{
    width:100px;
    height:100px;
}
.shop-info{
    float:left;
    margin-left:30px;
    width:700px;
}


.shop-items{
    margin:0 auto;
    width:980px;
}
.item-row{
    position: relative;
}
.item-row .items-flag{
    position: absolute;
    width:35px;
    height:35px;
    z-index: 999;
    left:0;
    top:0;
    background:url("../images/asp/new.png")no-repeat left;
}
.shop-items .item-row{
    float:left;
    margin:5px;
    width:220px;
    padding:0 5px;
    border:1px solid #ccc;
}
.shop-items .item-row-pic{
    text-align: center;
}
.shop-items .item-row-pic img{
    width:210px;
    height:210px;
}
.shop-items .item-row-desc{
    width:220px;
    overflow:hidden;
    height:20px;

}
.shop-items .item-row-price{
    width:80px;
    height:30px;
    margin: 0 auto;
    text-align: left;
    background:url("../images/asp/money.png") no-repeat left;
}
.shop-items .item-row-price span{
    color:red;
    margin-left:15px;
    font-size:20px;
}
.detail2{
    display: inline-block;
    height:18px;
    line-height: 18px;
    width:300px;
    overflow: hidden;
}
.detail4{
    display: inline-block;
    color: red;
    padding-left: 93px;
    width:92px;
    height:19px;
    background:url("../images/asp/star_value.png") no-repeat left;
}

/************* 展示页 END **************/
#item-description .cid_items{
    display: block;
    width:200px;
    height:250px;
    overflow: hidden;
    float:left;
    margin-left:10px;
    margin-top:10px;
}
#item-description .cid_items img{
    width:198px;
    height:200px;
    border:1px solid red;
}
#item-description .cid_items a{
    display: inline-block;
    width:200px;
    height:20px;
    font-size:15px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
}
#item-description .cid_items span{
    display: inline-block;
    widows: 200px;
    height:20px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    color:red;
}
.cid_items_more{
    display: inline-block;
    height:20px;
    width:100px;
    margin-top:235px;
    margin-left:13px;
    line-height: 20px;
    text-align: center;
}