*{
	margin:0;
	padding:0;
}
.shop-items{
	width:1000px;
	overflow: hidden;
}

.shop-items .shop-row{
	width:100%;
	height:200px;
	border-bottom:1px solid #dcdcdc;
	padding-top:10px;
    overflow: hidden;
    text-align: left;
}

.shop-items .shop-row .items-shop{
    width:350px;
    height:100%;
    float:left;
}
.shop-items .shop-row .items-shop a{
	color:#0063DC;
}
.shop-items .shop-row .items-shop a:hover{
	color:#f60;
}

.shop-row .shop-img{
	height:100%;
	width:80px;
	float:left;
	text-decoration: none;
}
.shop-level{
	display: inline-block;
	height:16px;
	width:90px;
}
.start_1{
	display: inline-block;
	float:left;
	width: 16px;
	height:16px;
	background:url("../images/asp/star_1.png") no-repeat;
}
.start_2{
	display: inline-block;
	float:left;
	width: 16px;
	height:16px;
	background:url("../images/asp/star_2.gif") no-repeat;
}
.start_3{
	display: inline-block;
	float:left;
	width: 16px;
	height:16px;
	background:url("../images/asp/star_3.gif") no-repeat;
}
.start_4{
	display: inline-block;
	float:left;
	width: 16px;
	height:16px;
	background:url("../images/asp/star_4.gif") no-repeat;
}
.shop-row .shop-title{
	display: inline-block;
	height:20px;
	line-height: 20px;
	font-size:17px;
	font-weight:bold;
	color:#0063DC;
	width:150px;
	overflow: hidden;
}
.shop-row .shop-nick{
	font-size:14px;
	color:#0063dc;
}
.shop-row .shop-cat{
	display: inline-block;
	height:20px;
	width:220px;
	line-height: 20px;
	font-size:10px;
	color:#0063dc;
	overflow: hidden;
}
.shop-items .shop-row .items-shop img{
	width:70px;
	height:70px;
	border:1px solid #dedede;
	vertical-align: middle;
}
.shop-row .bao-items li{
	float:left;
	width:140px;
	height:100%;
	margin-left:20px;
}

.shop-row .bao-items .bao-item-price{
	display: inline-block;
	border:1px solid #e6e6e6;
	border-top:none;
	width: 138px;
	height:20px;
	line-height: 20px;
	text-align: center;
}

.page-items{
	width:1200px;
	height:80px;
	margin:0 auto;
	margin-top:10px;
}
.tcdPageCode{
	margin:0 auto;
	padding: 15px 20px;
	text-align: left;
	color: #ccc;
	display: table;
}
.tcdPageCode a{
	display: table-cell;
	color: black;
	height: 45px;	
	line-height: 45px;	
	border: 1px solid #ddd;	
	margin: 0 2px;
	border-radius: 4px;
	vertical-align: middle;
	text-align: center;
	width:40px;
}
.tcdPageCode a:hover{
	text-decoration: none;
	border: 1px solid #fb4472;
	background-color: #fb4472;
}
.tcdPageCode span.current{
	display: table-cell;
	height: 45px;
	line-height: 45px;
	margin: 0 2px;
	color: white;
	background-color: #fb4472;
	border: 1px solid #fb4472;
	border-radius: 4px;
	vertical-align: middle;
	text-align: center;
	width:40px;
}
.tcdPageCode span.disabled{
	display: table-cell;
	height: 45px;
	line-height: 45px;
	width:50px;
	text-align: center;
	margin: 0 2px;
	color: #bfbfbf;
	background: #f2f2f2;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	vertical-align: middle;
}
.tcdPageCode .nextPage,.tcdPageCode .prevPage{
	width:50px;
	display: table-cell;
}