#header { margin: 0; padding-bottom: 15px; }
.head-outline:after, #header:after { content: "\20"; clear: both; height: 0; overflow: hidden; }
.head-outline, .head-outline .hdp-logo, .head-outline .aim-logo, .head-outline .outline-wrap { background: url( "../images/bg.png" ) scroll no-repeat 0 0 transparent; }
.head-outline { background-repeat: repeat; height: 50px; }
.outline-wrap { background-repeat: repeat; height: 50px; margin: 0 auto;}
.head-outline .site-title, .head-outline .aim, .head-outline .navigation{ 
    float: left;
    height: 50px;
}
.head-outline .logo {
	width: 320px;
    height: 40px;
    padding: 8px 0px 0px 50px;
	overflow:hidden;
}
.head-outline .hdp-logo{
    background-position: 0 -50px;
	font-size: 22px;
	font-weight: 800;
	text-align: left;
}

.head-outline .navigation{
    margin-left:50px;
}
.navigation ul li{
    float:left;
    margin:0 3px;
    background: #CCC;
    background: #00B5E7;
}
.navigation ul li a{
    height:50px;
    line-height: 50px;
    font-weight: bold;
    padding:0px 10px;
    font-size:16px;
    color:#FFF;
    display: block;
}

#footer {
    background: none repeat scroll 0 0 #DEDEDE;
    border-top: 1px solid #C8C8C8;
    clear: both;
    color: #9B9B9B;
    padding: 5px 0;
    text-align: center;
}
.active div.item  {
    -webkit-transition: all .8s ease-in;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.item  {
    background: #FFF;
    border-top: 1px solid #dcdcdc;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out
}
.trym {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none
}
.active .item  {
    -webkit-transition: all .7s ease-out .1s;
    -moz-transition: all .7s ease-out ;
    -o-transition: all .7s ease-out .1s;
    transition: all .7s ease-out .1s
}
.item  {
    border: 1px solid #dfdfdf;
    background: #FFF
}
.item  .pic {
    position: relative;
    text-align: center
}
.item  .pic a {
    display: block;
    overflow: hidden;
}
.item  .pic a img {
    vertical-align: bottom;
}
.popup_in {
    animation-duration: .5s;
    animation-delay: .1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    -webkit-animation-duration: .8s;
    -webkit-animation-delay: .1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: .5s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: both;
    -moz-backface-visibility: hidden;
    -ms-animation-duration: .5s;
    -ms-animation-delay: .1s;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: both
}
.popup_in {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp
}
body {
    text-align: center;
    background-color: #F1EFF0;
    _background-color: #E8E7E3;
}
.hidden { display: none !important; }
.waterfall { 
    position: relative;
    margin: 0px auto;
    visibility: hidden;
    margin-top: 20px;
    zoom: 1;
}
.waterfall .item {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
}
.waterfall .item {
    background-color: #F3F3F3;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    border-right: 1px solid #C3C3C3;
    border-bottom: 1px solid #C0C0C0;
    text-align: left;
    line-height: 1.5;
    visibility: hidden;
}
.waterfall .item .price, .waterfall .item .desc, .waterfall .item span, .waterfall .item .info { word-break: break-all; display: block; word-break: break-all; line-height: 1.5 }
.waterfall .item:hover {
/*    box-shadow: 0 1px 5px rgba(34,25,25,0.8);*/
}
.waterfall .item .pic {
    background-color: #FFFFFF;
    padding: 15px 15px 0;
    display: block;
    text-align: center;
    overflow: hidden;
    width: auto !important;
    height: auto !important;
}
.waterfall .item .pic a {
    height: auto !important;
    border: none;
}
.waterfall .item .pic a:hover {
    border: none;
}
.waterfall .item .pic img {
    max-height: none;
    max-width: 190px;
    vertical-align: middle;
}
.waterfall .item .price {
    background-color: #FFFFFF;
    padding: 5px 15px;
    margin: 0;
}
.waterfall .item-img { position: relative;  }
.waterfall .item-link { display: none !important; width: 190px; position: absolute; top: 15px; left: 15px; opacity: 0.3; filter: Alpha(opacity=30); background-color: #FFFFFF; }
.waterfall .item-img:hover .item-link{ display: block !important; }
.waterfall .item .pic a:hover { opacity: 0.7; background-color: #FFFFFF; filter: Alpha(opacity=70); }
.waterfall .item .desc, .waterfall .item .info {
    background-color: #F3F3F3;
    border-bottom: 1px solid #E8E7E3;
    border-top: 1px solid #E8E7E3;
    height: auto !important;
    
    padding: 10px 15px !important;
    word-break: break-all;
    
    background-color: #F3F3F3;
    text-align: left;
}
.waterfall .item .desc {
    min-height: 30px;
}
.wf-loading, .wf-more { display: inline-block; _width: 100px; padding: 10px 15px; }
.wf-loading .loading { border: 1px solid #CCCCCC; background-color: #FFFFFF; }
.more { border: 1px solid #CCCCCC;  background-color: #FFFFFF; }
.wf-more { display: none; }
.wf-more a { display: block; padding: 5px 10px; }
.waterfall-footer { line-height: 20px;  }

#waterfall {
    position: relative;
    min-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    max-width: 1428px;
    width: 100%;
}